workflows/send-docusign-automation.json
{
  "name": "Send Docusign Automation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.basePath}}/v2.1/accounts/{{$json.accountId}}/envelopes\n\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"templateId\": \"c3746378-a6d3-4caa-aeeb-15e3587a4af4\",\n  \"templateRoles\": [\n    {\n      \"roleName\": \"Signer\",\n      \"name\": \"{{ $json.signerName }}\",\n      \"email\": \"{{ $json.signerEmail }}\"\n    }\n  ],\n  \"status\": \"sent\"\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        0
      ],
      "id": "24364521-5a21-4626-9e3d-3e48e77aa99a",
      "name": "Send Template Envelope",
      "credentials": {
        "oAuth2Api": {
          "id": "2RXoJNZzg9snIYBC",
          "name": "Docusign OAuth 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        0
      ],
      "id": "85cf7546-68e9-4359-aad2-895aadecf59d",
      "name": "Testing only: Manually Enter Name and Email"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        544
      ],
      "id": "8e6d3a0c-920e-49ed-bbe0-97aa4a77315a",
      "name": "Gmail Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        352
      ],
      "id": "7f638a87-249d-464c-87c8-eb76d540f414",
      "name": "Google Sheets Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -288,
        176
      ],
      "id": "bebe9edb-6534-453f-af06-e5bce2d2d230",
      "name": "On form submission",
      "webhookId": "d1886d9f-2726-409c-97de-b2ca7a021930",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://account-d.docusign.com/oauth/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        0
      ],
      "id": "1c51704e-1079-40cc-9924-b09e39c3af82",
      "name": "Connect to Docusign Account",
      "credentials": {
        "oAuth2Api": {
          "id": "2RXoJNZzg9snIYBC",
          "name": "Docusign OAuth 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09998b6a-740d-45e6-bb1b-651cf9a9c4d6",
              "name": "accountId",
              "value": "={{$json[\"accounts\"][0][\"account_id\"]}}",
              "type": "string"
            },
            {
              "id": "6750a243-35e1-40a9-a013-1eef6d686a69",
              "name": "basePath",
              "value": "={{$json[\"accounts\"][0][\"base_uri\"]}}/restapi",
              "type": "string"
            },
            {
              "id": "dfc5f666-51f3-48aa-9d6a-52f880feb8d6",
              "name": "signerName",
              "value": "David Albin",
              "type": "string"
            },
            {
              "id": "8849a174-bdef-4201-943e-838ccc6098b1",
              "name": "signerEmail",
              "value": "dave@deepthinklabs.ai",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "77a2acf0-1c04-459e-8510-2720d82f4150",
      "name": "Set for signerName and signerEmail"
    },
    {
      "parameters": {
        "content": "## Requirements\n-n8n account (either cloud or self-hosted is fine)\n-Docusign Developer Account (https://developers.docusign.com/)\n\nDocusign Steps\n-Once logged in Admin > Apps and Keys > Add App > Copy and Save Integration ID > Click PKCE > Add Secret > Copy and Save Secret - leave this screen up\n-Go to n8n > Overview > Credentials > + sign at top > Create Credential > Add Values \n-Copy Redirect URL at the top of Credentials and paste to URI \n-Go back to the workflow and Select the OAuth2 credential you just created\n-Upload Template to Docusign > Give it a name > Role = Signer; then obtain templateId (Templates > Double Click on Template > Copy Template ID) \n\n\n",
        "height": 432,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        192
      ],
      "typeVersion": 1,
      "id": "9e509b88-93fd-45bf-8e9b-37d96e5b8ae8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Connect to Docusign\nPurpose: Connect n8n to the proper Docusign account\n\n-Method: Get\n-URL: https://account-d.docusign.com/oauth/userinfo\n-Authentication: Generic Credential Type\n-Generic Auth Type: OAuth 2 API\n-OAuth2 API: Select your Docusign Credentials\n\n\n\n",
        "height": 272,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -320
      ],
      "typeVersion": 1,
      "id": "48fef634-2e8d-4bf7-9018-5d419f9b06c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Set for signerName and signerEmail\nPurpose: Specify client's name and email address to be used for the Docusign Package\n\n-Manual Mapping\n-Fields to set\naccoundId: {{$json[\"accounts\"][0][\"account_id\"]}}\nbasePath: {{$json[\"accounts\"][0][\"base_uri\"]}}/restapi\nsignerName: pull value from left\nsignerEmail: pull value from left\n",
        "height": 272,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -320
      ],
      "typeVersion": 1,
      "id": "f0c618a5-7161-4439-b327-aee859101844",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Send Template Envelope\nPurpose: Tell Docusign what template to use and the client name and client email to send to. Docusign will then send the package.\n\n-Method: Post\n-URL: {{$json.basePath}}/v2.1/accounts/{{$json.accountId}}/envelopes\n-Authentication: Generic Credential Type\n-Generic Auth Type: OAuth 2 API\n-URL: https://account-d.docusign.com/oauth/userinfo\n-OAuth2 API: Select your Docusign Credentials\n-Send Body: On\n-Body Content Type: JSON\n-Specific Body: Using JSON\n-JSON:\n{\n  \"templateId\": \"INSERT_TEMPLATE_ID\",\n  \"templateRoles\": [\n    {\n      \"roleName\": \"Signer\",\n      \"name\": \"{{ $json.signerName }}\",\n      \"email\": \"{{ $json.signerEmail }}\"\n    }\n  ],\n  \"status\": \"sent\"\n}\n",
        "height": 512,
        "width": 512,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -560
      ],
      "typeVersion": 1,
      "id": "a40567cc-b592-4a9f-a8e8-6c292302722e",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Testing only: Manually Enter Name and Email": {
      "main": [
        [
          {
            "node": "Connect to Docusign Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect to Docusign Account": {
      "main": [
        [
          {
            "node": "Set for signerName and signerEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set for signerName and signerEmail": {
      "main": [
        [
          {
            "node": "Send Template Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4dd72751-ec43-4f33-bcb1-9de0b2da2302",
  "meta": {
    "instanceId": "4dd9ef9c32b4c5c978d1872da1532fc15b09739127c117a29f6b4689b963430b"
  },
  "id": "STG4Tsh5THjLW63U",
  "tags": []
}